{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tweetme {% block title %} {% endblock title %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="{% static 'css/custom.css' %}" rel="stylesheet" >
	<style>
		.red-color{
			color: red;
		}
		.grey-color {
			color: grey;
		}
	</style>
</head>
<body>
		{% include "navbar.html" %}
																																																																											
	<div class="container">
		{% block content %}
		{% endblock content %}
	</div>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  {% block script %}
  {% endblock script %}
  <script>
  	$(document).ready(function(){
  		var typingTimer;
  		var doneInterval = 500; // in ms
  		var searchInput = $("#navbar-search-form input[type=text]")
  		var searchQuery;

  		searchInput.keyup(function(event){
  			searchQuery = $(this).val()

  			clearTimeout(typingTimer)
  			typingTimer = setTimeout(doneSearchingTyping, doneInterval)
  		})

  		searchInput.keydown(function(event){
  			clearTimeout(typingTimer)
  		})

  		function doneSearchingTyping(){
  			if (searchQuery) {
  				var url = '/tweet/search/?q=' + searchQuery
  				document.location.href = url
  			}
  		}
  	})
  </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>